<!doctype html>
<title>Site Maintenance</title>
<style>
  body { text-align: center; padding: 150px; }
  h1 { font-size: 50px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article2 { display: block; text-align: centre; width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>

<article2>
    <h1>Success!</h1>
    <h1>Another Domain Configured.</h1>
    <h1>{{ domainname }} coming soon!</h>
    <div>
        <p>&mdash; Rackspace Hosting</p>
    </div>
</article2>

